<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>

  <node name="ego_sphere_manager_ros" pkg="foveated_stereo_ros" type="ego_sphere_manager_ros_node" respawn="false" output="screen" >
    <param name="data_folder" value="$(find foveated_stereo_ros)/data" />
    <rosparam file="$(find foveated_stereo_ros)/config/frames.yaml" command="load" />
    <rosparam file="$(find foveated_stereo_ros)/config/egosphere.yaml" command="load" />
    <rosparam file="$(find foveated_stereo_ros)/config/decision_making.yaml" command="load" />
  </node>
</launch>
